name: GitHub Actions Demo

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"

  pull_request:
    branches:
      - main

  schedule:
    - cron: "15 6 * * 0"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Show event and ref
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Ref: ${{ github.ref }}"
              
      - name: Checkout repo
        uses: actions/checkout@v6.0.2

      - name: List repository files
        run: ls -la
